   <label>What is your budget?</label><br>
        <select name="budget" required>
            <option value="low">Budget Friendly</option>
            <option value="medium">Moderate</option>
            <option value="high">Higher Budget</option>
        </select><br><br>

        <label>Where have you traveled before?</label><br>
        <input type="text" name="past_destination" placeholder="Example: Orlando, Cancun, Nashville"><br><br>

        <label>What was your favorite destination?</label><br>
        <input type="text" name="favorite_destination" placeholder="Example: Destin, Florida"><br><br>

        <label>Why was it your favorite?</label><br>
        <textarea name="favorite_reason" rows="4" placeholder="Example: beaches, food, relaxing, family activities"></textarea><br><br>

        <button type="submit">Find My Trip</button>
    </form>
</body>
</html>

